.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #313B4A;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    transition: 0.7s ease;
}
.sidebar header{
    font-size: 22px;
    color: #4F6D7A;
    text-align: center;
    font-weight: 800px;
    line-height: 75px;
    background:  #DBE9EE;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: #dceedc;
    font-size: 20px;
    padding-left: 10px;
    transition: 0.5s;
}


label #btn, label #close{
position: absolute;
}

#tickbox:checked ~ .sidebar{
    left:0;
}

#tickbox:checked ~ label #btn{
    left:250px;
    opacity: 0;
    pointer-events: none;
}

#tickbox:checked ~ label #close{
    left:195px;
    
}




html {
   font-family: 'Karla', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

.gallery { 

    margin-top: 200px;
    
    padding: 20px; 
    
    display: flex; 
    
    flex-direction: row; 
}

.gallery figure { 
        
    margin: auto; 
    
    width: 250px; 
    
    text-align: center; 
    
    } 
    

.gallery img{

    height: 200px;

    width: 275px; 
       
    } 
    